APP_NAME=Geoffrey
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

CHANNEL_SLACK_TOKEN=
CHANNEL_SLACK_SIGNING_SECRET=

ANTHROPIC_API_KEY=
AZURE_OPENAI_API_KEY=
COHERE_API_KEY=
DEEPSEEK_API_KEY=
ELEVENLABS_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
MISTRAL_API_KEY=
OLLAMA_API_KEY=
OPENAI_API_KEY=
OPENROUTER_API_KEY=
JINA_API_KEY=
VOYAGEAI_API_KEY=
XAI_API_KEY=
